@model IEnumerable<ReviewNotes.Core.Review>


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.ActionLink("Create a review", "Create")

<table width="100%">
    <thead>
        <tr>
            <td>Id</td>
            <td>Title</td>
            <td>Attachements</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var review in Model)
        {
            <tr>
                <td>@review.Id</td>
                <td>@Html.ActionLink(review.Title,"Edit", new { id = review.Id})</td>
                <td>
                    @*use partialview or template for empty and non-empty attachments*@
                    <ul>
                        @foreach (var attachment in review.ReviewAttachments)
                        {
                            <li><a href="@Url.Action("GetFile","Files", new { Id = attachment.Id })">@attachment.Filename</a></li>
                        }
                    </ul>
                </td>
                <td>
                    @Html.ActionLink("x","Delete", new { id = review.Id })
                </td>
            </tr>
        }
    </tbody>
</table>